<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bot.t105590006_hw">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.105590006_HW">
        <activity android:name=".Homework04"
            android:label="HW05: Unit tests and Clickable images">
            android:label = "Homework04 Activity"
            android:parentActivityName=".MainActivity"> ？父母Activity
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bot.t105590006_hw.MainActivity" /> <!-- ？指定父母Activity對象 -->
        </activity>
        <activity android:name=".Homework05"
            android:label="HW05: Unit tests and Clickable images">
            android:label = "Homework05 Activity"
            android:parentActivityName=".MainActivity"> ？父母Activity
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bot.t105590006_hw.MainActivity" /> <!-- ？指定父母Activity對象 -->
        </activity>
        <activity android:name=".helloToast">

            <!--
            android:label = "Hello Toast Activity"
            android:parentActivityName=".MainActivity"> ？父母Activity
            -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bot.t105590006_hw.MainActivity" /> <!-- ？指定父母Activity對象 -->
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>